<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <link rel="stylesheet" href="./styles.css">
    <title>learn vue</title>
</head>

<body>
    <div id="root">
        <input type="text" v-model="message">
        <p :title="message">{{message}}</p>
        <p>{{reverseWord2}}</p>
        <transition name="fade">
        <ol v-if="seen">
            <li v-for="todo in todos">{{todo.text}}</li>
        </ol>
        </transition>
        
        <ol>
            <todo-item v-for="item in todos" v-bind:todo="item"></todo-item>
        </ol>
        <p>{{seenMessage}}</p>
        <p>2: {{seenMessage2}}</p>
        <button @click="showList">显示列表</button>
        <button v-on:click="reverseWord">Reverse word</button>
        <fieldset>
            <legend>计算属性</legend>
            <p><label for="fn">FirstName</label><input type="text" v-model="firstName" id="fn"></p>
            <p><label for="ln">LastName</label><input type="text" v-model="lastName" id="ln"></p>
            <p><label for="full">FirstName</label><input type="text" v-model="fullName" id="full"></p>
        </fieldset>
        <fieldset>
            <legend>Yes/No</legend>
            <p>
                <label for="question">Ask a yes/no question:</label>
                <input type="text" v-model="question">
            </p>
            <p>{{answer}}</p>
        </fieldset>
        <div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">绑定类</div>
    </div>
    <script src="app.js"></script>
</body>

</html>